<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Users</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link th:href="@{/css/style.css}" rel="stylesheet">
<style>
.center-atag {
	text-align: center;
	line-height: 33px;
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">FCM-MANAGEMENT</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html">Sent Message</a></li>
				<li><a href="#">Users</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h3>>>Users</h3>
		<br>
		<div class="form-group">
			<label for="sel1">Select target list:</label> <select
				class="form-control" id="sel1" name="sellist1" style="width: 50%;">
				<option>Parents</option>
				<option>Teacher</option>
				<option>Student</option>
				<option>Others</option>
			</select>
		</div>
		<form method="POST" th:action="@{/notification/create}">
			<input type="hidden" name="title" th:value="${title}" /> <input
				type="hidden" name="body" th:value="${body}" /> <input type="hidden"
				name="imageUrl" th:value="${imageUrl}" /> <input type="hidden"
				name="targetUser" id="targetUser">
			<table class="table">
				<thead>
					<tr>
						<th style="width: 3%"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUser}">
						<td><input type="checkbox" th:id="${user.userId}"
							onclick="myFunction(this)"></td>

						<td th:utext="${user.fullName}"></td>
					</tr>
				</tbody>
			</table>
			<div class="center">
				<button type="submit" class="btn btn-danger btn-size">Delete</button>
			</div>
		</form>
	</div>
	<script>
var checkBoxStack = [];
function myFunction(item) {
	var targetUserList = document.getElementById("targetUser");
	var itemId = item.id;
	if (item.checked == true) {
		if (!checkBoxStack.includes(itemId)) {
			checkBoxStack.push(itemId);
		}
	} else {
		removeItem(itemId);
	}
	targetUserList.value = "["+checkBoxStack+"]";
}
function removeItem(value) {
	checkBoxStack.splice(checkBoxStack.indexOf(value), 1);
}

</script>
</body>
</html>
